[%- USE T8 %]
[%- USE HTML %]
[%- USE L %]
[%- USE LxERP %]

[%- INCLUDE 'common/flash.html' %]

 <h1>[% title %]</h1>

 <form method="post" action="controller.pl" id="search_form">

  <p>
   <table>

    <tr>
     <th align="right">[% 'Bank account' | $T8 %]</th>
     <td>[% L.select_tag('filter.bank_account', BANK_ACCOUNTS, default=bank_account, title_key='displayable_name', with_empty=0, style='width:450px') %]</td>
    </tr>

    <tr>
     <th align="right">[% 'Transdate from' | $T8 %]</th>
     <td>[% L.date_tag('filter.fromdate', filter.fromdate) %]</td>
    </tr>

    <tr>
     <th align="right">[% 'to (date)' | $T8 %]</th>
     <td>[% L.date_tag('filter.todate', filter.todate) %]</td>
    </tr>
   </table>
  </p>
 </form>
